body {
  margin:0;
  font-family: Arial;
  background:#0b1220;
  color:white;
}

/* BACKGROUND */
#bg {
  position:fixed;
  inset:0;
  background-size:cover;
  opacity:.35;
  z-index:-1;
}

/* HEADER */
header {
  padding:40px 80px;
}

h1 {
  font-size:40px;
  margin-bottom:20px;
}

.goal-row {
  display:flex;
  gap:10px;
}

input {
  padding:12px;
  border-radius:10px;
  border:none;
  background:#1e293b;
  color:white;
}

button {
  background:#22c55e;
  border:none;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

/* TIMER CENTER */
.timer {
  text-align:center;
  margin-top:40px;
}

#time {
  font-size:90px;
  margin:20px 0;
}

.time-input {
  display:flex;
  justify-content:center;
  gap:10px;
}

.controls {
  display:flex;
  justify-content:center;
  gap:10px;
}

/* BACKGROUND ARROWS */
.bg-controls {
  position:fixed;
  left:40px;
  top:50%;
}

.bg-controls button {
  font-size:30px;
  margin:10px;
}

/* CALENDAR GRID */
.calendar {
  display:flex;
  justify-content:center;
  margin-top:40px;
}

#grid {
  display:grid;
  grid-template-columns:repeat(7,70px);
  gap:20px;
}

.day {
  width:70px;
  height:70px;
  border-radius:50%;
  background:#1e293b;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:.2s;
}

.day.today {
  background:#22c55e;
}

.day:hover {
  transform:scale(1.2);
  background:white;
  color:black;
}

/* SPOTIFY */
.spotify {
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  width:500px;
}
